[type="slime"] {
    background-position: 0 -1429px; width: 64px; height: 49px;
    position: absolute;
    width: 64px;
    height: 49px;    
}

.slime-die10{ background-position: 0 0; width: 61px; height: 60px; } 
.slime-die11{ background-position: 0 -110px; width: 56px; height: 59px; } 
.slime-die12{ background-position: 0 -219px; width: 49px; height: 54px; } 
.slime-die13{ background-position: 0 -323px; width: 31px; height: 40px; } 
.slime-hit10{ background-position: 0 -413px; width: 63px; height: 66px; } 
.slime-jump0{ background-position: 0 -529px; width: 63px; height: 67px; } 
.slime-move0{ background-position: 0 -646px; width: 70px; height: 51px; } 
.slime-move1{ background-position: 0 -747px; width: 62px; height: 53px; } 
.slime-move2{ background-position: 0 -850px; width: 54px; height: 61px; } 
.slime-move3{ background-position: 0 -961px; width: 63px; height: 67px; } 
.slime-move4{ background-position: 0 -1078px; width: 63px; height: 84px; } 
.slime-move5{ background-position: 0 -1212px; width: 61px; height: 71px; } 
.slime-move6{ background-position: 0 -1333px; width: 60px; height: 46px; } 
.slime-stand0{ background-position: 0 -1429px; width: 64px; height: 49px; } 
.slime-stand1{ background-position: 0 -1528px; width: 69px; height: 49px; } 
.slime-stand2{ background-position: 0 -1627px; width: 57px; height: 50px; } 

