#screen {
    background-image: url("/images/map/henesys.png");
    width: 1240px;
    height: 613px;
}

[type="sera"] {
    position: absolute;
    background-image: url("/images/sera/character.png");
    width: 51px;
    height: 67px;
}

[type="slime"] {
    position: absolute;
    top: 481px;
    background-image: url("/images/slime/character.png");
    width: 64px;
    height: 49px;    
}

.mirrored {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

